<!doctype html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css" media="screen" />
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body class="container">
  <div class="row">
    <div class="col-xs-6">
      <label for="searchURL">Enter the URL to be indexed</label>
      <input type="url" id="url-field" class="form-control" name="url" id="searchURL" placeholder="Enter a URL">
      <button id="submit-btn" class="btn btn-default">Submit</button>
    </div>
  </div>
  <script type="text/javascript">
    $("#submit-btn").on("click", function(e) {
    $.post("/index", {url: $("#url-field").val() }, function(data) {
    if(data) {
    $("#submit-btn").addClass("btn-success");
    }
    else {
    alert("No content found to be indexed.");
    }
    }).fail(function(data) {
    alert("Failed");
    });
    });
  </script>
</body>
</html>
